<mat-card class=" com-sm-8 mx-auto">
    <mat-card-header>
        <mat-card-title>Log In</mat-card-title>
    </mat-card-header>
    <form>
        <mat-card-content>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Email Id" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Password" type="password" />
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Log In</button>
        </mat-card-actions>
    </form>
</mat-card>