<form class="row border-bottom border-primary p-2">
    <div class="col-2">
        <input type="date" class="form-control"/>
    </div>
    <div class="col-1">
        
    </div>
    <div class="col">
        <input type="text" class="form-control"/>
    </div>
    <div class="col-2">
        <input type="number" class="form-control"/>
    </div>
    <div class="col-2">
        <input type="number" class="form-control"/>
    </div>
    <div class="col-2 text-center">
        <button type="submit" class="btn btn-sm btn-primary me-1">SAVE</button>
        <button type="button" class="btn btn-sm btn-danger">CANCEL</button>
    </div>
</form>